<%- include('ek/header', {bot, user, path}) %>
<style>
.beyaz {
  color: white;
}
.font {
  font-family: 'Nunito', sans-serif;
}
  
  * {
    font-family: 'Nunito', sans-serif;
  }
  
.alert {
  height: 50px;
  background-color: #FF5900; 
  border-radius: 25px;
  color: white;
  margin-bottom: 15px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #FF5900;
  width: 1200px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
::-webkit-scrollbar {
  width: 0px;
}
  
</style>
</script>





<head>
  
  <meta http-equiv = "refresh" content = "3; url = /login" />
</head>

<center>
  
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="font">
  Yönlendiriliyor: oAuth2
</h1>
  
<br>
<br>
  
<h4 class="font">
  Lütfen 3 saniye bekleyin... yada <a href="/login">buraya</a> tıkla.
</h4>
  
</center>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a2d32;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 25px #000000;
}
</style>
</div>
<% include ./ek/footer %>